
/*----------------INICIO NAV--------- */

.menuNavegacionPrincipal{ 
    display: flex;
    border-style: solid;
    border-width: 1px;
}
/*--------------Para mostrar logo------------*/
.menuNavegacionPrincipal_contenedorLogo{
    width: 10%;
}

.menuNavegacionPrincipal_logoProyecto{
    width: 100%;
    height: 100%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
}
/*--------------------------------------*/
/*--------------------Mostrar lista de navegacion------------------*/
.menuNavegacionPrincipal_contenedorLinksNavegacion{
    display: flex;
    justify-content: center;
    width:90%;

}

.menu_navegacion{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding: 0px;
    background-color: rgb(240, 240, 240);
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
}
.menuNavegacionPrincipal_contenedorLinksNavegacion li{
 
    font-size: 200%;
}


.itemsMenuNavegacion{
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 20px;

}

/*--------------------------------------*/

/*---------------FIN NAV------------------ */

/*comienzo de la pagina*/

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,600;1,300;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');*/

/*font-family: 'Noto Serif Display', serif;*/
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;


   

}

body{
    background-color: #f5f5f5;
}

header{
    background-image: url(Imagenes/hero.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.container{
    max-width: 1100px;
    margin: 0 auto;

}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color: #040404;
}


.menu .navbar ul li{
    position: relative;
    float: left;


}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #f5f5f5;
    display: block;

}

.menu .navbar ul li a:hover{
    color: #0eaef3;

}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.header-content{
    display: flex;

}

.content{
    padding: 150px 150px 0px;

}

.content h1{
    color: #ffff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
}

.content p{
    margin-top: 25px;
    color: #aab1ff;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
}

.btn-1{
    display: inline-block;
    background-color: rgba(170, 177, 255, 0.3);
    border: 1px solid #aab1ff;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: #ffff;
     border-radius: 25px;
}

.btn-1:hover{
    background-color: #aab1ff;
}

.services{
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.service{
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(74, 77, 221, 0.3);
}

.services img{
    margin-top: -50px;
}

.service h3{
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.service p{
    color: #000000;
    font-size: 16px;
   font-family:'Times New Roman', Times, serif;

}

.portafolios{
    padding: 80px 0px;
    text-align: center;
    color: #0e0e0e;
}

.portafolios h2{
    font-size: 55px;

}

.porfolio{
    display: flex;
    align-items: center;
}

.porfolio img{
    width: 350px;
}

.porfolio-1{
    text-align: left;
    margin-left: 150px;
}

.porfolio-1 h3{
    font-size: 35px;
    margin-bottom: 15px;
}

.porfolio-1 p{
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}

.porfolio-2{
    text-align: left;
    margin-right: 100px;
}

.porfolio-2 h3{
font-size: 35px;
margin-bottom: 15px;
}

.porfolio-2 p{
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}

.btn-2{
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #7042b5;
    color: #ffff;
}

.btn-2:hover{
    background-color: #8650d7;
}

footer{
    padding: 200px 0px 30px 0px;
    background-image: url(Imagenes/footer.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-content{
    display: flex;
}
.info-price{
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px 0px;
    color: #0e0e0e;

}

.info-price h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.price{
    font-size: 14px;
    color: #0eaef3 !important;
    margin-bottom: 10px;
}

.info-price p{
    font-size: 16px;
    color: #525254;

}

.info-txt{
    margin-left: 35px;
    color: #ffff;
}

hr{
    margin: 45px 0px;
    border: 0.5px solid #aab1ff;
}

.enlaces{
    display: flex;
    justify-content: space-between;
    color: #ffff;

}

.enlaces h3{
font-size: 25px;

}

.enlace{
    display: flex;

}

.enlace li a{ 
    display: block;
    margin: 20px;
    color: #ffff;
}

.enlace li a:hover{
    color: #0eaef3;
}

@media (max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;

    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2868ea;
        display: none;
    }

    .menu .nav ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    header{
        height: 0vh;
        padding: 400px 0px;
        background-position: center center;
    }

    .header-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 30px;
    }

    .content{
        padding: 0px;
    }

    .content h1{
        margin-top: 100px;
        font-size: 45px;
    }

    .content p{
        margin-top: 0px;
    }

    .header-content img {
        width: 150px;
    }

    .services{
        flex-direction: column;
        padding: 50px 30px 0px 30px;
    }

    .service{
        margin-bottom: 50px;
    }

    .porfolio{
        padding: 0px 30px 30px 30px;        
    }

    .porfolios h2{
        margin-bottom: 15px;
    }

    .porfolio{
        flex-direction: column;
    }

    .porfolio img{
        display: none;
    }

    .porfolio-1{
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    .porfolio-2{
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    footer{
        padding: 0px 30px 30px 30px;
    }
    .info-content{
        flex-direction: column;
        text-align: center;
    }

    .info-price{
        margin: 0px 0px 20px 0px;
    }



    .info-txt{
        margin: 0px;
    }


    hr{
        margin: 25px 0px;
    }

    .enlaces{
        flex-direction: column;
        align-items: center;
    }


    .enlace{
        flex-direction: column;
    }
}