
/*----------------INICIO NAV--------- */

.menuNavegacionPrincipal{ 
    display: flex;
    border-style: solid;
    border-width: 1px;
}
/*--------------Para mostrar logo------------*/
.menuNavegacionPrincipal_contenedorLogo{
    width: 10%;
}

.menuNavegacionPrincipal_logoProyecto{
    width: 100%;
    height: 100%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
}
/*--------------------------------------*/
/*--------------------Mostrar lista de navegacion------------------*/
.menuNavegacionPrincipal_contenedorLinksNavegacion{
    display: flex;
    justify-content: center;
    width:90%;

}

.menu_navegacion{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding: 0px;
    background-color: rgb(0, 199, 248);
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
}
.menuNavegacionPrincipal_contenedorLinksNavegacion li{
    background-color: aqua;
    font-size: 200%;
}


.itemsMenuNavegacion{
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 20px;

}

/*--------------------------------------*/

/*---------------FIN NAV------------------ */


/*------------------------------Sobre-Nosotros------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    margin: 0px;
    padding-right: 20px;
}
.titulo-sobre-nosotros{
    text-align: center;
    font-size: 50px;
}
.contenido-pie-de-pagina{
    padding: 10px;
    width: 98%;
    height: 200px;
   min-width: 300px;
   margin: 20px;
   background-color: black;
   color: aliceblue;
   display: flex
}
.contenidosSB{
    width: 100%;
    display: flex;
   
}
.contenidosSB .como-crear-clase img{
    width: 90%;
    height: 400px ;
    margin: 20px;
}
.contenidosSB .contactos{
    width: 100%;
    margin: 20px;
    background-color: black;
    color: aliceblue;
    padding: 10px;
}
